body{
	background-color: #2B2B2B;
}

h2 {
	text-align: center;
	color: #F6F6F6;
}
th{
background-color: seagreen;
}
td{
	background-color:white;
	color: black; 
}

label{
	color: #F6F6F6;
}

table caption {
	padding: .5em 0;
}

@media screen and (max-width: 767px) {
	table caption {
		overflow-x: auto;
		overflow-y: hidden;
	}
}
}

.p {
	text-align: center;
	padding-top: 140px;
	font-size: 14px;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: transparent;
}
